.input {
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  outline: #1a95f0;
  transition: .2s ease-in-out;
  background-color: white;
  &:focus {
    outline: 2px solid #1a95f0;
  }
}